[Desktop Entry]
Type=Application
Name=Neon
Comment=DRM Fixer for Chromium browsers
Exec=neon-tray
Icon=neon
Terminal=false
Categories=Utility;System;
Keywords=DRM;Widevine;Browser;
StartupNotify=false
